<h1 class="block">FAQ</h1>

<ul>
  <li>
    <strong>How do I find the files I need?</strong>
    <ul>
      In general, you will want to upload 6 files.  They can be obtained by right clicking on the appropriate tab
      in web3 Castle Age and selecting "Save link as..." or "Save Linked File as...", etc.  Assuming you are logged in to
      <span style="color:red">the web3 link</span>, you may right click the link(s) below and save the file on your desktop.
      <span style="color:red">Note that if you are running multiple Facebook accounts, you must log out of the web3 link each time, or you'll end up downloading
      the files from your other accounts instead of the intended one.</span>
      I accept .html, .htm and .php file extensions. The tabs which contain data for uploading are the following:
      <li style="font-size:100%">
        <b>Generals (will not remove generals):</b>
				<%= link_to 'https://web3.castleagegame.com/castle_ws/generals.php',
          'https://web3.castleagegame.com/castle_ws/generals.php' %>
      </li>
      <li style="font-size:100%">
        <b>Soldiers:</b> <%= link_to 'https://web3.castleagegame.com/castle_ws/soldiers.php',
          'https://web3.castleagegame.com/castle_ws/soldiers.php' %>
      </li>
      <li style="font-size:100%">
        <b>Blacksmith:</b> <%= link_to 'https://web3.castleagegame.com/castle_ws/item.php',
          'https://web3.castleagegame.com/castle_ws/item.php' %>
      </li>
      <li style="font-size:100%">
        <b>Magic:</b> <%= link_to 'https://web3.castleagegame.com/castle_ws/magic.php', 'https://web3.castleagegame.com/castle_ws/magic.php' %>
      </li>
      <li style="font-size:100%">
        <b>Lands:</b> <%= link_to 'https://web3.castleagegame.com/castle_ws/land.php', 'https://web3.castleagegame.com/castle_ws/land.php' %>
      </li>
      <li style="font-size:100%">
        <b>Keep:</b>
				<%= link_to 'https://web3.castleagegame.com/castle_ws/keep.php',
          'https://web3.castleagegame.com/castle_ws/keep.php' %>
      </li>
    </ul>
  </li>
  <li>
    <strong>How often can I upload files?</strong>
    <ul>
      You can upload files as often as you like.  If your inventory has not changed, the software will inform you that
      0 items have changed.
      
      I recommend uploading when initially setting up your optimizer account
    </ul>
  </li>
  <li>
    <strong>What if the software reports that it didn't know about an item?</strong>
    <ul>
      This can occur due to a mis-spelling of the existing data or it could be a new item which was recently added to the
      game and has not been added yet to the optimizer. I am notified if this occurs.
    </ul>
  </li>
  <li>
    <strong>What if the software updates my inventory incorrectly?</strong>
    <ul>
      This can occur due to a change in the format of the downloaded file.  I am not a Castle Age developer and they may make
      changes as they see fit.  If this occurs, you can email me, and I'll attempt to fix the feature as soon as I am able.  To
      fix the error, you may update the inventory manually.  <%= link_to 'Contact the Admin', 'mailto:larsonm@msu.edu' %>
    </ul>
  </li>
</ul>