<script type="text/javascript">
	$(function(){
		$('#uploader').pluploadQueue({
			runtimes: 'flash,html5,gears,silverlight,browserplus',
			url: '<%= upload_files_profile_path(@profile) %>',
			max_file_size : '5mb',
			unique_names : true,
			filters : [
				{title: "HTML files", extensions: "html,htm"},
			  {title: "PHP files", extensions: "php"}
			],
			multipart_params: {
				'<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>'
			}
		});
		
		// Client side form validation
		$('#form').submit(function(e) {
			var uploader = $('#uploader').pluploadQueue();
		
			// Files in queue upload them first
			if (uploader.files.length > 0 && uploader.files.length <= 6) {
				// When all files are uploaded submit form
				uploader.bind('StateChanged', function() {
					if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
						$('form')[0].submit();
					}
				});
				uploader.start();
			} else {
				alert('You must queue at least one file, and not more than 6.');
			}
		
			return false;
		});
	});
</script>

<h1 class="pagetitle">Upload Keep, Generals, Soldiers, Items, Magic and Land for <%= @profile.name %></h1>

<%= render :partial => 'faq' %>

<%= form_for @profile, :url => process_data_profile_path(@profile), :method => 'post', :html => {:id => 'form',  :multipart => true } do |f| %>
	<div id="uploader">
		<p>Your browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
	</div>
	
  <p>
    <%= f.submit 'Process' %>
  </p>
<% end %>

<h1 class="block">Having problems with the upload or processing?</h1>

<%= form_for @profile, :url => upload_file_profile_path(@profile), :method => 'post', :html => {:id => 'alt_form', :multipart => true} do |f| %>
	<p>
		Try loading & processing one file at a time. I accept the following files:
		<ul>
			<li>generals.php, generals.php.html, generals.php.htm</li>
			<li>soldiers.php, soldiers.php.html, soldiers.php.htm</li>
			<li>magic.php, magic.php.html, magic.php.htm</li>
			<li>item.php, item.php.html, item.php.htm</li>
			<li>land.php, land.php.html, land.php.htm</li>
			<li>keep.php, keep.php.html, keep.php.htm</li>
		</ul>
		<%= label_tag "upload", "File" %><br/>
		<%= file_field_tag 'attachment', :accept => 'text/html,text/php' %>
	</p>
	
	<p>
    <%= f.submit 'Process Single File' %>
  </p>
<% end %>

<%= link_to 'Back', :back %>