<h1 class="pagetitle"><%= @land.name %></h1>

<%= image_tag @land.image_path(:original), :alt  => "#{@land.name}",
	:style => 'float:right' %>

<p>
  <%= link_to "Lookup on Wiki", "http://castleage.wikia.com/wiki/Special:Search?fulltext=Search&search=#{@land.name}", :target => "_blank" %><br/>
  http://castleage.wikia.com/wiki/Castle_Age_Wiki
</p>

<p>
	<b>Type:</b> <%= @land.class.name.titleize %>
</p>

<p>
	<b>Base Cost:</b> <%= number_to_currency(@land.base_cost) %>
</p>

<p>
	<b>Upkeep:</b> <%= number_to_currency(@land.income) %>
</p>

<%= link_to 'Back', lands_path %>