<h1 class="pagetitle"><%= @shield.name %></h1>

<% unless @shield.avatar_file_name.nil? %>
  <%= image_tag @shield.avatar.url, :alt  => "#{@shield.name}",
    :style => 'float:right' %>
<% else %>
	<div style="float:right">
		No Image Available
	</div>
<% end %>

<p>
  <%= link_to "Lookup on Wiki", "http://castleage.wikia.com/wiki/index.php?search=#{@shield.name}", :target => "_blank" %><br/>
  http://castleage.wikia.com/wiki/Castle_Age_Wiki
</p>

<p>
	<b>Type:</b> <%= @shield.class.name.titleize %>
</p>

<p>
	<b>Attack:</b> <%= @shield.attack %>
</p>

<p>
	<b>Defense:</b> <%= @shield.defense %>
</p>

<p>
	<b>eAttack:</b> <%= @shield.e_attack %>
</p>

<p>
	<b>eDefense:</b> <%= @shield.e_defense %>
</p>

<p>
	<b>Base Cost:</b> <%= number_to_currency(@shield.base_cost) %>
</p>

<p>
	<b>Upkeep:</b> <%= number_to_currency(@shield.upkeep) %>
</p>

<p>
	<b>Divine Power:</b> <%= @shield.div_power %>
</p>

<p>
	<b>Forgeable?:</b> <%= @shield.forgeable.to_s.titleize %>
</p>

<%= link_to 'Back', shields_path %>