<h1 class="pagetitle"><%= @helmet.name %></h1>

<%= image_tag @helmet.image_path(:original), :alt  => "#{@helmet.name}",
	:style => 'float:right' %>

<p>
  <%= link_to "Lookup on Wiki", "http://castleage.wikia.com/wiki/Special:Search?fulltext=Search&search=#{@helmet.name}", :target => "_blank" %><br/>
  http://castleage.wikia.com/wiki/Castle_Age_Wiki
</p>

<p>
	<b>Type:</b> <%= @helmet.class.name.titleize %>
</p>

<p>
	<b>Attack:</b> <%= @helmet.attack %>
</p>

<p>
	<b>Defense:</b> <%= @helmet.defense %>
</p>

<p>
	<b>eAttack:</b> <%= @helmet.e_attack %>
</p>

<p>
	<b>eDefense:</b> <%= @helmet.e_defense %>
</p>

<p>
	<b>Base Cost:</b> <%= number_to_currency(@helmet.base_cost) %>
</p>

<p>
	<b>Upkeep:</b> <%= number_to_currency(@helmet.upkeep) %>
</p>

<p>
	<b>Divine Power:</b> <%= @helmet.div_power %>
</p>

<p>
	<b>Forge Slots:</b> <%= @helmet.slots %>
</p>

<p>
	<b>Piercing:</b> <%= @helmet.piercing %>
</p>

<p>
	<b>Resistance:</b> <%= @helmet.resistance %>
</p>

<%= link_to 'Back', helmets_path %>