<h1 class="pagetitle">Weapons</h1>

<table class="non-fixed">
	<%= will_paginate @weapons %>
	<caption><%= link_to 'Add Weapon', new_admin_weapon_path %></caption>
	<thead>
		<th class="top" scope="col"><%= sort_link 'Name', :name %></th>
		<th class="top" scope="col"><%= sort_link 'Attack', :attack %></th>
		<th class="top" scope="col"><%= sort_link 'Defense', :defense %></th>
		<th class="top" scope="col"><%= sort_link 'eAttack', :e_attack %></th>
		<th class="top" scope="col"><%= sort_link 'eDefense', :e_defense %></th>
		<th class="top" scope="col"><%= sort_link 'Base Cost', :base_cost %></th>
		<th class="top" scope="col"><%= sort_link 'Upkeep', :upkeep %></th>
		<th class="top" scope="col"><%= sort_link 'DP', :div_power %></th>
		<th class="top" scope="col"><%= sort_link 'Slots', :slots %></th>
		<th class="top" scope="col"><%= sort_link 'Pierce', :piercing %></th>
		<th class="top" scope="col"><%= sort_link 'Res', :resistance %></th>
		<th class="top" scope="col">Options</th>
	</thead>
	
	<% @weapons.each do |weapon| %>
		<tr>
			<th scope="row">
				<%= image_tag weapon.image_path(:thumb), :alt  => "#{weapon.name}",
					:style => 'float:left', :size => "50x50" %>
				<%= link_to weapon.name, weapon_path(weapon) %>
			</th>
			<td><%= weapon.attack %></td>
			<td><%= weapon.defense %></td>
			<td><%= weapon.e_attack %></td>
			<td><%= weapon.e_defense %></td>
			<td><%= number_to_currency(weapon.base_cost) %></td>
			<td><%= number_to_currency(weapon.upkeep) %></td>
			<td><%= weapon.div_power %></td>
			<td><%= weapon.slots %></td>
			<td><%= weapon.piercing %></td>
			<td><%= weapon.resistance %></td>
			<td>
				<%= link_to '[Edit]', edit_admin_weapon_path(weapon) %>
				<% if current_user.is_admin? && weapon.is_unowned? %>
        	<%= link_to '[Destroy]', admin_weapon_path(weapon), :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>