<h1 class="pagetitle">Loadouts for <%= @profile.name.html_safe %></h1>

<table class="non-fixed">
	<caption><%= link_to "Create Loadout", new_profile_loadout_path(@profile) %></caption>
	<thead>
		<th class="top" scope="col" width="10%"><%= sort_link 'Name', 'name' %></th>
		<th class="top" scope="col" width="5%"><%= sort_link 'Class', 'class_type' %></th>
		<th class="top" scope="col" width="5%"><%= sort_link 'Attack', 'attack' %></th>
		<th class="top" scope="col" width="5%"><%= sort_link 'Defense', 'defense' %></th>
		<th class="top" scope="col" width="5%"><%= sort_link 'eAttack', 'e_attack' %></th>
		<th class="top" scope="col" width="5%"><%= sort_link 'eDefense', 'e_defense' %></th>
		<th class="top" scope="col" width="30%">Gear</th>
		<th class="top" scope="col" width="5%">Options</th>
	</thead>

	<% @loadouts.each do |loadout| %>
		<% general = General.find(loadout.general.general_id) unless loadout.general.nil? %>
		<tr>
			<td><%= loadout.name %></td>
			<td><%= loadout.class_type %></td>
			<td>
				<%= loadout.attack %><% if general.monster_bonus_only? %>*<% end %>
			</td>
			<td><%= loadout.defense %></td>
			<td>
				<%= loadout.e_attack %><% if general.monster_bonus_only? %>*<% end %>
			</td>
			<td><%= loadout.e_defense %></td>
			<td>
				<% unless loadout.general.nil? %>
					<%= image_tag general.image_path(:thumb), :alt  => "#{general.name}", :size => "25x25" %>
					<% if !loadout.general.primary_alliance.nil? %>
						<%= image_tag 'genally_link_primary.gif', height: '9' %>
					<% end %>
					<br/>
				<% end %>
				<% unless loadout.weapon.nil? %>
					<%= image_tag loadout.weapon.image_path(:thumb), :alt  => "#{loadout.weapon.name}", :size => "25x25" %>
				<% end %>
				<% unless loadout.shield.nil? %>
					<%= image_tag loadout.shield.image_path(:thumb), :alt  => "#{loadout.shield.name}", :size => "25x25" %>
				<% end %>
				<% unless loadout.helmet.nil? %>
					<%= image_tag loadout.helmet.image_path(:thumb), :alt  => "#{loadout.helmet.name}", :size => "25x25" %>
				<% end %>
				<% unless loadout.armor.nil? %>
					<%= image_tag loadout.armor.image_path(:thumb), :alt  => "#{loadout.armor.name}", :size => "25x25" %>
				<% end %>
				<% unless loadout.amulet.nil? %>
					<%= image_tag loadout.amulet.image_path(:thumb), :alt  => "#{loadout.amulet.name}", :size => "25x25" %>
				<% end %>
				<% unless loadout.glove.nil? %>
					<%= image_tag loadout.glove.image_path(:thumb), :alt  => "#{loadout.glove.name}", :size => "25x25" %>
				<% end %>
				<% unless loadout.boot.nil? %>
					<%= image_tag loadout.boot.image_path(:thumb), :alt  => "#{loadout.boot.name}", :size => "25x25" %>
				<% end %>
				<% unless loadout.power.nil? %>
					<%= image_tag loadout.power.image_path(:thumb), :alt  => "#{loadout.power.name}", :size => "25x25" %>
				<% end %>
				<% unless loadout.banner.nil? %>
					<%= image_tag loadout.banner.image_path(:thumb), :alt  => "#{loadout.banner.name}", :size => "25x25" %>
				<% end %>
			</td>
			<td>
				<%= link_to '[Edit]', edit_profile_loadout_path(@profile,loadout) %>
				<%= link_to '[Remove]', profile_loadout_path(@profile,loadout), :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>
</table>
<span class="note">* General has a monster bonus, which increases your attack against monsters only, but is not applicable for eAttack.</span>