<h1 class="pagetitle">Monsters</h1>

<table class="non-fixed">
	<%= will_paginate @monsters %>
	<caption><%= link_to 'Add Monster', new_admin_monster_path %></caption>
	<thead>
		<th class="top" scope="col"><%= sort_link 'Name', :name %></th>
		<th class="top" scope="col"><%= sort_link 'Minutes', :minutes %></th>
		<th class="top" scope="col">Attack Type</th>
		<th class="top" scope="col"><%= sort_link 'Divine Power', :div_power %></th>
		<th class="top" scope="col">Options</th>
	</thead>
	
	<% @monsters.each do |monster| %>
		<tr>
			<th scope="row">
				<%= link_to monster.name, monster_path(monster) %>
			</th>
			<td><%= monster.minutes %></td>
			<td><%= monster.attack_type %></td>
			<td><%= monster.div_power %></td>
			<td>
				<%= link_to '[Edit]', edit_admin_monster_path(monster) %>
        <%= link_to '[Destroy]', admin_monster_path(monster), :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>
</table>