<h1 class="pagetitle"><%= @glove.name %></h1>

<%= image_tag @glove.image_path(:original), :alt  => "#{@glove.name}",
	:style => 'float:right' %>

<p>
  <%= link_to "Lookup on Wiki", "http://castleage.wikia.com/wiki/Special:Search?fulltext=Search&search=#{@glove.name}", :target => "_blank" %><br/>
  http://castleage.wikia.com/wiki/Castle_Age_Wiki
</p>

<p>
	<b>Type:</b> <%= @glove.class.name.titleize %>
</p>

<p>
	<b>Attack:</b> <%= @glove.attack %>
</p>

<p>
	<b>Defense:</b> <%= @glove.defense %>
</p>

<p>
	<b>eAttack:</b> <%= @glove.e_attack %>
</p>

<p>
	<b>eDefense:</b> <%= @glove.e_defense %>
</p>

<p>
	<b>Base Cost:</b> <%= number_to_currency(@glove.base_cost) %>
</p>

<p>
	<b>Upkeep:</b> <%= number_to_currency(@glove.upkeep) %>
</p>

<p>
	<b>Divine Power:</b> <%= @glove.div_power %>
</p>

<p>
	<b>Forge Slots:</b> <%= @glove.slots %>
</p>

<p>
	<b>Piercing:</b> <%= @glove.piercing %>
</p>

<p>
	<b>Resistance:</b> <%= @glove.resistance %>
</p>

<%= link_to 'Back', gloves_path %>