<h1>Listing Soldiers available in Castle Age</h1>

<table class="non-fixed">
	<%= will_paginate @soldiers %>
	<thead>
		<th class="top" scope="col"><%= sort_link 'Name', :name %></th>
		<th class="top" scope="col"><%= sort_link 'Attack', :attack %></th>
		<th class="top" scope="col"><%= sort_link 'Defense', :defense %></th>
		<th class="top" scope="col"><%= sort_link 'eAttack', :e_attack %></th>
		<th class="top" scope="col"><%= sort_link 'eDefense', :e_defense %></th>
		<th class="top" scope="col"><%= sort_link 'Base Cost', :base_cost %></th>
		<th class="top" scope="col"><%= sort_link 'Upkeep', :upkeep %></th>
	</thead>
	
	<% @soldiers.each do |soldier| %>
		<tr>
			<th scope="row">
				<%= image_tag soldier.image_path(:thumb), :alt  => "#{soldier.name}",
					:style => 'float:left', :size => "50x50" %>
				<%= link_to soldier.name, soldier_path(soldier) %>
			</th>
			<td><%= soldier.attack %></td>
			<td><%= soldier.defense %></td>
			<td><%= soldier.e_attack %></td>
			<td><%= soldier.e_defense %></td>
			<td><%= number_to_currency(soldier.base_cost) %></td>
			<td><%= number_to_currency(soldier.upkeep) %></td>
		</tr>
	<% end %>
</table>