<h1>Listing Generals available in Castle Age</h1>

<table class="non-fixed">
	<%= will_paginate @generals %>
	<thead>
		<th class="top" scope="col"><%= sort_link 'Name', :name %></th>
		<th class="top" scope="col"><%= sort_link 'Attack', :attack %></th>
		<th class="top" scope="col"><%= sort_link 'Defense', :defense %></th>
		<th class="top" scope="col"><%= sort_link 'eAttack', :e_attack %></th>
		<th class="top" scope="col"><%= sort_link 'eDefense', :e_defense %></th>
		<th class="top" scope="col"><%= sort_link 'Base Cost', :base_cost %></th>
		<th class="top" scope="col"><%= sort_link 'Upkeep', :upkeep %></th>
		<th class="top" scope="col"><%= sort_link 'Type', :general_type %></th>
		<th class="top" scope="col"><%= sort_link 'DP', :div_power %></th>
		<th class="top" scope="col"><%= sort_link 'Base Pierce', :base_piercing %></th>
		<th class="top" scope="col"><%= sort_link 'Base Res', :base_resistance %></th>
	</thead>
	
	<% @generals.each do |general| %>
		<tr>
			<th scope="row">
				<%= image_tag general.image_path(:thumb), :alt  => "#{general.name}",
					:style => 'float:left', :size => "50x50" %>
				<%= link_to general.name, general_path(general) %>
			</th>
			<td><%= general.attack %></td>
			<td><%= general.defense %></td>
			<td><%= general.e_attack %></td>
			<td><%= general.e_defense %></td>
			<td><%= number_to_currency(general.base_cost) %></td>
			<td><%= number_to_currency(general.upkeep) %></td>
			<td><%= general.general_type %></td>
			<td><%= general.div_power %></td>
			<td><%= general.base_piercing %></td>
			<td><%= general.base_resistance %></td>
		</tr>
	<% end %>
</table>