<%= form_for @recruit, :url => profile_recruits_path(@profile) do |f| %>
  <% if @recruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recruit.errors.count, "error") %> prohibited this general from being saved:</h2>

      <ul>
      <% @recruit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p style="color:red">Note that it is much easier to <%= link_to 'Upload!', updater_profile_path(@profile) %></p>
	
  <% if @recruit.new_record? %>
	  <p>
	    <%= f.label 'general_id', 'General' %><br/>
	    <%= f.collection_select :general_id, @generals, :id, :name, :include_blank => true %>
	  </p>
	<% end %>

	<p>
		<%= f.label 'level' %><br/>
		<%= f.text_field 'level' %>
	</p>

  <p>
    <%= f.submit 'Acquire' %>
  </p>
<% end %>