<h1 class="pagetitle">Generals acquired for <%= @profile.name.html_safe %></h1>

<%= render :partial => "faq" %>

<table class="non-fixed">
	<%= will_paginate @recruits %>
	<caption><%= link_to "Acquire General(s)", new_profile_recruit_path(@profile) %></caption>
	<thead>
		<th class="top" scope="col" width="26%"><%= sort_link 'General', 'name' %></th>
		<th class="top" scope="col" width="2%"><%= sort_link 'Level/<br/>Promo', 'level' %></th>
		<th class="top" scope="col" width="5%"><%= sort_link 'Lvld Att', 'attack' %></th>
		<th class="top" scope="col" width="5%"><%= sort_link 'Lvld Def', 'defense' %></th>
		<th class="top" scope="col" width="13%">Stats w/<br/>Gear Bonus</th>
		<th class="top" scope="col" width="10%">
			<%= sort_link 'General<br/>eAtt w/ Gear', 'e_attack' %>
		</th>
		<th class="top" scope="col" width="10%">
			<%= sort_link 'General<br/>eDef w/ Gear', 'e_defense' %>
		</th>
		<th class="top" scope="col" width="13%">
			<%= sort_link 'Profile+Gen<br/>eAtt w/ Bonus', 'e_attack_with_bonus' %>
		</th>
		<th class="top" scope="col" width="13%">
			<%= sort_link 'Profile+Gen<br/>eDef w/ Bonus', 'e_defense_with_bonus'  %>
		</th>
		<th class="top" scope="col" width="3%"><%= sort_link "Type".html_safe, 'generals.general_type' %></th>
		<th class="top" scope="col" width="5%">Options</th>
	</thead>

	<% @recruits.each do |recruit| %>
		<% general = recruit.general %>
		<tr id="row_<%= recruit.id %>">
			<td>
				<%= image_tag general.image_path(:thumb), :alt  => "#{general.name}",
					:style => 'float:left', :size => "50x50" %>
				<%= link_to general.name, general_path(general) %>
				<% if !recruit.primary_alliance.nil? %>
					<%= image_tag 'genally_link_primary.gif', height: '18' %>
				<% end %>
			</td>
			<td id="recruit_<%= recruit.id %>_level" class="highlight">
				<%= text_field_tag "recruit_#{recruit.id}", recruit.level, :size => 2,
					:class => 'recruit', data: {url: profile_recruit_path(@profile,recruit),
						field: "recruit_#{recruit.id}"} %>
        <br/>
				<%= text_field_tag "recruitp_#{recruit.id}", recruit.promote_level, :size => 2,
					:class => 'recruitp', data: {url: profile_recruit_path(@profile,recruit),
						field: "recruitp_#{recruit.id}"} %>
			</td>
      <td id="attack_<%= recruit.id %>"><%= recruit.attack %></td>
      <td id="defense_<%= recruit.id %>"><%= recruit.defense %></td>
			<td>
				<span id="attack_w_mods_<%= recruit.id %>"><%= recruit.general.send("attack_with_mods",@profile,recruit) %></span> /
				<span id="defense_w_mods_<%= recruit.id %>"><%= recruit.general.send("defense_with_mods",@profile,recruit) %></span>
			</td>
			<td id="eAtt_<%= recruit.id %>"><%= recruit.e_attack %></td>
			<td id="eDef_<%= recruit.id %>"><%= recruit.e_defense %></td>
			<td id="eAtt_w_bonus_<%= recruit.id %>"><%= recruit.general.send("e_attack_with_bonus",@profile,recruit) %></td>
			<td id="eDef_w_bonus_<%= recruit.id %>"><%= recruit.general.send("e_defense_with_bonus",@profile,recruit) %></td>
			<td><%= truncate(general.general_type, length: 3, omission: '') %></td>
			<td>
				<% unless recruit.primary_alliance || !recruit.secondary_alliances.empty? || !recruit.tertiary_alliances.empty? || !recruit.loadouts.empty? %>
					<%= link_to '[Remove]', profile_recruit_path(@profile,recruit), :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>