<h1>Listing Armors available in Castle Age</h1>

<table class="non-fixed">
	<%= will_paginate @armors %>
	<thead>
		<th class="top" scope="col"><%= sort_link 'Name', :name %></th>
		<th class="top" scope="col"><%= sort_link 'Attack', :attack %></th>
		<th class="top" scope="col"><%= sort_link 'Defense', :defense %></th>
		<th class="top" scope="col"><%= sort_link 'eAttack', :e_attack %></th>
		<th class="top" scope="col"><%= sort_link 'eDefense', :e_defense %></th>
		<th class="top" scope="col"><%= sort_link 'Base Cost', :base_cost %></th>
		<th class="top" scope="col"><%= sort_link 'Upkeep', :upkeep %></th>
		<th class="top" scope="col"><%= sort_link 'DP', :div_power %></th>
		<th class="top" scope="col"><%= sort_link 'Slots', :slots %></th>
		<th class="top" scope="col"><%= sort_link 'Pierce', :piercing %></th>
		<th class="top" scope="col"><%= sort_link 'Res', :resistance %></th>
	</thead>
	
	<% @armors.each do |armor| %>
		<tr>
			<th scope="row">
				<%= image_tag armor.image_path(:thumb), :alt  => "#{armor.name}",
					:style => 'float:left', :size => "50x50" %>
				<%= link_to armor.name, armor_path(armor) %>
			</th>
			<td><%= armor.attack %></td>
			<td><%= armor.defense %></td>
			<td><%= armor.e_attack %></td>
			<td><%= armor.e_defense %></td>
			<td><%= number_to_currency(armor.base_cost) %></td>
			<td><%= number_to_currency(armor.upkeep) %></td>
			<td><%= armor.div_power %></td>
			<td><%= armor.slots %></td>
			<td><%= armor.piercing %></td>
			<td><%= armor.resistance %></td>
		</tr>
	<% end %>
</table>