<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="3600" />
<meta name="revisit-after" content="2 days" />
<meta name="robots" content="index,follow" />
<meta name="author" content="Design: 1234.info / Modified: Matthew Larson" />
<meta name="distribution" content="global" />
<meta name="description" content="A Castle Age Army Optimizing Application" />
<meta name="keywords" content="copter, castle age, optimize, optimizer, optimizing, army, invasion, duel, battle,
  battle strength index, level, leveling, raid, monster, board, facebook, game, gaming, social, network, MMORPG, multiplayer, RPG,
  strategy, guild, arena, role playing game" />
<meta name="google-site-verification" content="MKkqqnfMYWNv0ry3UuEzItIs3730wugTbJYHb99nk7g" />

<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<link rel="icon" type="image/x-icon" href="<%= asset_path("favor_clear.gif") %>" />
<title><%= @page_title || 'COPTER 2.0: The Castle Age Optimizer' %></title>

<%= render :partial => 'common/analytics' %>
