<%= form_for(@amulet, :as => :amulet, :url => admin_amulets_path, :html => { :multipart => true }) do |f| %>
  <% if @amulet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amulet.errors.count, "error") %> prohibited this amulet from being saved:</h2>

      <ul>
      <% @amulet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
	  <%= f.label 'name' %><br/>
	  <%= f.text_field :name %>
	</p>

	<p>
	  <%= f.label 'attack', 'Attack' %><br/>
	  <%= f.text_field :attack, :size => 10 %>
	</p>

	<p>
	  <%= f.label 'defense', 'Defense' %><br/>
	  <%= f.text_field :defense, :size => 10 %>
	</p>

	<p>
	  <%= f.label 'base_cost', 'Base Cost' %><br/>
	  <%= f.text_field :base_cost, :onblur => "changeFormat(this)" %>
	</p>

	<p>
	  <%= f.label 'upkeep' %><br/>
	  <%= f.text_field :upkeep, :onblur => "changeFormat(this)" %>
	</p>
	
	<p>
	  <%= f.label 'div_power', 'Divine Power' %><br/>
	  <%= f.text_field :div_power, :size => 10 %>
	</p>
	
	<p>
	  <%= f.label 'forgeable', 'Does this have one or more forge slots?' %><br/>
	  <%= f.check_box :forgeable %>
	</p>
	
	<p>
		<%= f.label 'avatar', 'Image' %>
		<% unless @amulet.avatar_file_name.nil? %>
			<%= image_tag @amulet.avatar.url(:thumb) %><br/>
		<% end %>
		<%= f.file_field :avatar, :value => @amulet.avatar_file_name.nil? ? nil : @amulet.avatar_file_name %>
	</p>

	<script type="text/javascript" language="Javascript">
	  function changeFormat(f)
	  {
	    value = f.value.replace(/,/g,"");
	    f.value = value;
	  }
	</script>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>